[Desktop Entry]
Version=1.0
Type=Application
Name=LiteStart
Comment=Launcher ligero para Linux

Exec=/home/usuario/LiteStart/venv/bin/python /home/usuario/LiteStart/main.py

Path=/home/usuario/LiteStart

Icon=/home/usuario/LiteStart/assets/icons/icon.svg

Categories=Utility;
StartupNotify=true
